<!-- Form:  new _targetWord -->
<h1>Enter a word to track, and the phrase you're searching </h1>

<form action="/wordcounters" method="post">
    <label for="targetWord">Target Word</label>
    <input id="targetWord" name="targetWord" type="text">

    <label for="targetPhrase">Phrase to scan</label>
    <input id="targetPhrase" name="targetPhrase" type="text">

    <button type="submit">Scan!</button>
</form>

